@{ 
    ViewBag.Title = "School Example";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-inf " id="navbarColor01" >
    <ul class="nav navbar-nav navbar-link navbar-static-top">
        <li>@Html.ActionLink("School Home", "Index", "School", new { area = "School" }, null)</li>
        <li>@Html.ActionLink("Facilities", "Index", "Classrooms", new { area = "School" }, null)</li>
        <li>@Html.ActionLink("Scheduling", "Index", "Courses", new { area = "School" }, null)</li>
        <li>@Html.ActionLink("Admin", "Index", "Semester", new { area = "School" }, null)</li>
    </ul>
</nav>


<div class="container body-content">
    @RenderBody()
    <hr />
</div>